@import './base.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rounded Mplus 1c', 'Varela Round', sans-serif; /* Example cute fonts */
  background-color: #fff0f5; /* Light pink background */
  color: #5b4b8a; /* Dark purple text */
  line-height: 1.6;
  min-height: 100vh; /* Ensure body takes full viewport height */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* Add some padding for smaller screens */
  padding-right: 1rem;
}
